@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar {width: 0;height: 0;}
* {scrollbar-width: none;-ms-overflow-style: none;}

.display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.display-grid {
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
}
.animated-element {
    -webkit-animation: your-animation 1s ease-in-out;
    -moz-animation: your-animation 1s ease-in-out;
    -o-animation: your-animation 1s ease-in-out;
    animation: your-animation 1s ease-in-out;
}
.btn{
    @apply bg-color text-white h-12 w-24 rounded-md font-bold hover:bg-red-700 hover:scale-105 
}
.btnx{
    @apply text-white h-12 w-24 rounded-md font-bold  hover:scale-105 
}
.signin-btn{
    @apply bg-color text-white h-10 w-72 rounded-md font-bold hover:bg-red-700 hover:scale-105 
}
.input{
    @apply p-4 border-2 border-solid border-gray-600 bg-custom-black text-white placeholder-slate-300 rounded-md h-14 w-72 hover:scale-105 focus:ring-custom-red focus:border-custom-red outline-none
}
.form-input{
    @apply p-4 w-full  border-2 border-solid border-gray-600 bg-custom-black text-white placeholder-slate-300 rounded-md hover:scale-105 focus:ring-custom-red focus:border-custom-red outline-none
}
.input-select{
    @apply block text-white p-2.5 bg-custom-black border border-gray-500 rounded-md  shadow-sm focus:outline-none focus:ring-2 hover:scale-105 h-14 w-72 focus:ring-custom-red focus:border-custom-red
}
.nav-link{
    @apply text-white py-2 px-3 cursor-pointer hover:text-custom-red font-semibold
}

.card{
    @apply w-80 p-5 border-gray-600 rounded-lg border-2 hover:scale-110 hover:border-gray-400
}

.grid {
    display: grid;
    gap: 1rem;
  }

  @media (min-width: 768px) {
    .grid {grid-template-columns: repeat(2, 1fr);}
  }
  
  @media (min-width: 1024px) {
    .grid {grid-template-columns: repeat(3, 1fr);}
  }

.bg-color {background-color:#E50914;}
.text-color{color: #E50914;}

.bg-img {
    background-image: url('./images/rd-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden; 
  }
  .bg-goals {
    background-image: url('./images//bg-goals.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: auto;

  }
  .about-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden; 
  }
  
  .bg-img::before {
    content: "";
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    pointer-events: none; 
    mix-blend-mode: multiply; 
    z-index: 1; 
  }
  
  .bg-img > * {position: relative;z-index: 2;}
  
.signin-container{
    background-color: rgba(0,0,0,0.7);
    height:auto;width: 450px;border-radius: 6px;margin-bottom: 10%;
    padding:48px 68px;display: flex;flex-direction: column;gap: 16px;
}
.bg-intro {
    background-image: url('./images/bg-intro.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;

}
.bg-mobile {
    background-image: url('./images/bg-intro-mobile.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height:100%;width: 100%; 
}
.bg-add-event {
    background-image: url('./images/bmr.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;

}
.bg-timer {
    background-image: url('./images/timer.jpg');
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;

}
.bg-bmr {
    background-image: url('./images/bmr.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden; 
  }



